body {
  background-image: url(../../public/images/Background\ Desktop\ Sign\ Up.png);
  background-size: 100%, 100%;
  background-color: #e57222;

  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  body {
    background: linear-gradient(
      0deg,
      #e27022 0%,
      rgba(244, 170, 65, 0.5) 90.21%
    );
    background-repeat: no-repeat;
    background-color: #e27022;
  }
}

.signUpForm {
  background-color: white;
  width: 800px;

  margin-top: 3%;
  margin-left: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.formTitle {
  font-size: 2.5rem;
  text-align: center;
}

.emailInput {
  margin-left: 25%;
  width: 50%;
  height: 45px;
  font-size: 24px;
}

.firstNameInput {
  margin-left: 25%;
  width: 22%;
  height: 45px;
  font-size: 24px;
}

.lastNameInput {
  margin-left: 5%;
  width: 22%;
  height: 45px;
  font-size: 24px;
}

@media screen and (max-width: 1500px) {
  .signUpForm {
    background-color: white;
    width: 500px;
    margin-top: 3%;
    margin-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .formTitle {
    font-size: 2rem;
    text-align: center;
  }

  .emailInput {
    margin-left: 25%;
    width: 50%;
    height: 25px;
    font-size: 20px;
  }

  .firstNameInput {
    margin-left: 25%;
    width: 22%;
    height: 25px;
    font-size: 20px;
  }

  .lastNameInput {
    margin-left: 4.5%;
    width: 22%;
    height: 25px;
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .signUpForm {
    background-color: white;
    width: 400px;
    margin-top: 3%;
    margin-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .formTitle {
    font-size: 1.8rem;
    text-align: center;
  }

  .emailInput {
    margin-left: 25%;
    width: 50%;
    height: 22px;
    font-size: 18px;
  }

  .firstNameInput {
    margin-left: 25%;
    width: 22%;
    height: 22px;
    font-size: 18px;
  }

  .lastNameInput {
    margin-left: 4%;
    width: 22%;
    height: 22px;
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .signUpForm {
    background-color: white;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .formTitle {
    font-size: 1.5em;
    text-align: center;
  }
}
